.outputs {
    margin-top: 10px;
    margin-bottom: 30px;
}

.animator-gifs img {
    display: block;
    margin: auto;
    margin-top: 40px;
    max-width: 800px;
}

@media only screen and (max-width: 800px) {
    .animator-gifs img {
        max-width: 700px;
    }
}