.outputs {
    margin-top: 10px;
    margin-bottom: 30px;
}

.animator-gifs img {
    display: block;
    margin: auto;
    margin-top: 40px;
    max-width: 800px;
}

/* Tablet styles */
@media only screen and (max-width: 768px) {
    .animator-gifs img {
        max-width: 700px;
    }
}

/* Mobile styles */
@media only screen and (max-width: 576px) {
    .animator-gifs img {
        max-width: 336px;
    }
}