body {
	background-color: black;
	color: white;
	font-family: 'Sunflower', sans-serif;
}

a {
	color: white;
	text-decoration: underline;
}

p a {
	color: #337ab7;
}

.title {
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 57px;
	display: inline-block;
}

#header-wrapper {
	background-color: white;
}

header {
	background-color: white;
	color: black;
}

header.row {
	display: flex;
	align-items: center;
}

header nav {
	display: flex;
	float: right;
}

header a {
	color: black;
}

.fab, .fas {
	fill: white;
}

.jumbotron {
	text-align: center;
	background-color: #424242;
}

.project {
	padding: 0 20px;
	font-size: 18px;
	margin-bottom: 40px;
}

.project img {
	margin-top: 20px;
	width: 100%;
}

.github {
	margin: auto;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	display: block;
	width: fit-content;
}

/* Tablet only styles */
@media only screen and (max-width: 768px) and (min-width: 575.98px) {
	.title {
		font-size: 72px;
	}
}

/* Tablet and mobile styles */
@media only screen and (max-width: 768px) {
	p, .project {
		font-size: 24px;
	}

	#header-wrapper {
		text-align: center;
	}
}