body {
	background-color: black;
	color: white;
	font-family: 'Sunflower', sans-serif;
}

.title {
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 54px;
	display: inline-block;
}

#header-wrapper {
	background-color: white;
}

header {
	background-color: white;
	color: black;
}

header.row {
	display: flex;
	align-items: center;
}

header nav {
	display: flex;
	float: right;
}

header a {
	padding: 30px;
	text-decoration: underline;
	font-size: 18px;
	color: black;
}

.fa-github {
	fill: white;
}

.jumbotron {
	text-align: center;
	background-color: #424242;
}

.project {
	padding: 20px;
	font-size: 18px;
	margin-bottom: 40px;
}

.github {
	margin: auto;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
	display: block;
	width: fit-content;
}