.bio {
	padding-top: 20px;
	display: inline-flex;
}

.bio img {
	display: block;
	max-width: 300px;
	max-height: 450px;
	width: auto;
	height: auto;
	float: left;
	margin-right: 20px;
}

.blurb {
	font-size: 30px;
}

.logos {
	text-align: center;
}

.logos a {
	text-decoration: none;
}

.logos i {
	padding: 20px;
}

#portfolio {
	margin-top: 180px;
	text-align: center;
	max-width: 300px;
	width: auto;
	height: auto;
	padding: 0;
}

#portfolio h1, h4 {
	text-decoration: underline;
	padding-top: 20px;
}

#portfolio p {
	padding-top: 10px;
}

.project-thumbnail {
	margin: 40px 0;
}

.project-thumbnail img {
	max-width: 300px;
	width: auto;
	height: auto;
}

/* Tablet only styles */
@media only screen and (max-width: 768px) and (min-width: 575.98px) {
	.blurb, .blurb p {
		font-size: 38px;
	}

	.logos {
		margin-top: 20px;
	}

	#portfolio {
		max-width: 500px;
	}

	.project-thumbnail img {
		max-width: 500px;
	}
}

/* Table and mobile styles */
@media only screen and (max-width: 768px) {
	#portfolio h1 {
		font-size: 54px;
	}
	
	#portfolio h4 {
		font-size: 36px;
	}
}

/* Mobile styles */
@media only screen and (max-width: 576px) {
	.bio img {
		margin: 0 auto 20px auto;
		float: none;
	}
}
