.preview-container {
	position: relative;
	max-width: 700px;
	display: block;
	margin: auto;
}

.expanded {
	height: 800px;
}

.preview-toggle {
	border: 1px solid white;
	padding: 10px;
	margin: auto;
	margin-top: 40px;
	display: flex;
	align-items: center;
	border-radius: 6px;
	font-size: 16px;
}

.fa-caret-square-up {
	fill: white;
	margin-right: 10px;
	transition: transform 0.5s ease-in;
}

.preview-toggle:hover {
	cursor: pointer;
}

.rotate {
	transform: rotate(180deg);
}

#warning {
	font-size: 12px;
	padding-left: 10px;
}

.visualizer-gifs {
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	overflow: hidden;
	height: 0;
	transition: .5s ease;
}

.visualizer-gifs img {
	margin: 0;
	width: 228px;
	height: 724px;
}

.slide {
	height: 100%;
}

#visualizer.github {
	margin-top: 20px;
}

/* Tablet styles */
@media only screen and (max-width: 800px) {
	.preview-toggle {
		font-size: 20px;
	}

	#warning {
		font-size: 16px;
	}
}

/* Mobile styles */
@media only screen and (max-width: 576px) {
    #warning {
		font-size: 12px;
	}

	.expanded {
		height: 2200px;
	}

	.visualizer-gifs img {
		margin: auto;
		display: block;
	}
}
