/***************************************************************************************
SITE-WIDE STYLES
***************************************************************************************/

body {
	background-color: black;
	color: white;
}

.title {
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 54px;
	display: inline-block;
}

h2, h3 {
	font-family: 'Merriweather', serif;
	text-decoration: underline;
}

#header-wrapper {
	background-color: white;
}

header {
	background-color: white;
	color: black;
}

header.row {
	display: flex;
	align-items: center;
}

header nav {
	display: flex;
	float: right;
}

header a {
	padding: 30px;
	text-decoration: underline;
	font-size: 18px;
	color: black;
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Sunflower', sans-serif;
}

.fa-github {
	fill: white;
}

/***************************************************************************************
HOME PAGE
***************************************************************************************/

.bio {
	padding-top: 40px;
	display: inline-flex;
}

.blurb {
	padding-left: 40px;
	font-size: 30px;
}

#portfolio {
	margin-top: 180px;
	text-align: center;
	width: 300px;
	padding: 0;
}

#portfolio h1, h4 {
	text-decoration: underline;
	padding-top: 20px;
}

#portfolio a {
	color: white;
}

#portfolio p {
	padding-top: 10px;
}

.project-thumbnail {
	margin: 40px 0;
}

.project-thumbnail img {
	width: 300px;
	height: 300px;
}

/***************************************************************************************
PROJECT PAGES
***************************************************************************************/

.jumbotron {
	text-align: center;
	background-color: #424242;
}

.project {
	padding: 20px;
}

.project p {
	font-size: 18px;
	margin-bottom: 40px;
}

/***************************************************************************************
VISUALIZER PAGE
***************************************************************************************/

.preview-container {
	position: relative;
	max-width: 550px;
	display: block;
	margin: auto;
	height: 700px;
}

.preview-toggle {
	border: 1px solid white;
	padding: 10px;
	margin: auto;
	margin-top: 40px;
	display: flex;
	align-items: center;
	border-radius: 6px;
	font-size: 16px;
}

.fa-caret-square-up {
	fill: white;
	margin-right: 10px;
	transition: transform 0.5s ease-in;
}

.fa-caret-square-up:hover {
	cursor: pointer;
}

.rotate {
	transform: rotate(180deg);
}

#warning {
	font-size: 12px;
	padding-left: 10px;
}

.project-gifs {
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	overflow: hidden;
	height: 0;
	transition: .5s ease;
}

.project-gifs img {
	max-width: 196px;
	max-height: 564px;
}

.slide {
	height: 100%;
}

/***************************************************************************************
BACKGROUND GENERATOR PAGE
***************************************************************************************/

#arts {
	width: 100%;
}

#bg.fa-github {
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}

.github {
	color: white;
	margin: auto;
	display: block;
	width: fit-content;
}

.animator {
	padding: 20px;
}

.animator img {
	width: 700px;
	height: 500px;
}